{% extends "layout/default/template.html" %}
{% load url from future %}
{% load story_extras %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="stories-container">
                    <div class="stories">
                        <div>
                            <div class="story">
                                <div class="story-link">
                                    <div class="story-title">
                                        <a href="{{ story.url }}" target="_blank">{{ story.title }}</a>
                                        <span class="story-domain"> ({{ story.domain }}) </span><!-- story-domain -->
                                    </div> <!-- story-title -->
                                    
                                    <div class="clearfix"></div>
                                </div><!-- story-link -->
                                <div class="story-info">
                                    <span class="story-moderator">Submitted by <a href="{{GLOBALS.BASE_URL}}?user={{story.moderator.id}}">{{ story.moderator.first_name }} {{ story.moderator.last_name }}</a> </span><!-- story-moderator -->
                                    <span class="divider"> | </span>
                                    <span class="story-time">  {{ story.created_at | age}} ago </span> <!-- story-time -->
                                </div><!-- story-info -->
                            </div><!-- story -->
                        </div>
                    </div><!-- stories -->
                </div><!-- stories-container -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="comments-container">
                    <div id="disqus_thread"></div>
                </div><!-- comments-container -->
            </div><!-- col-md -->
        </div><!-- row -->
    </div> <!-- container -->

    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = '{{DISQUS.SHORTNAME}}'; // required: replace example with your forum shortname
        var disqus_identifier = '{{DISQUS.IDENTIFIER_PREFIX}}/{{story.url}}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock content %}


