{% load story_extras %}
    {% for story in stories %}
    <li class="story">
        <div class="story-link">
            <div class="story-title">
                <a href="{{ story.url }}" target="_blank">{{ story.title }}</a>
                <span class="story-domain"> ({{ story.domain }}) </span><!-- story-domain -->
            </div> <!-- story-title -->
            
            <div class="clearfix"></div>
        </div><!-- story-link -->
        <div class="story-info">
            <span class="story-moderator">Submitted by {{ story.moderator.first_name }} {{ story.moderator.last_name }} </span><!-- story-moderator -->
            <span class="divider"> | </span>
            <span class="story-time">  {{ story.created_at | age}} ago </span> <!-- story-time -->
            <span class="divider"> | </span>
            {% if story.moderator.id == request.user.id and not 'day' in story.created_at|age %}
                <span class="story-delete"> <a href="javascript:onclick=App.confirm_before_delete('{{request.build_absolute_uri}}story/delete/{{story.id}}')">delete</a> </span> <!-- story-comments -->
                <span class="divider"> | </span>
            {% endif %}
            <span class="story-comments"> <a href="{{request.build_absolute_uri}}story/{{story.id}}">discuss</a> </span> <!-- story-comments -->
        </div><!-- story-info -->
    </li><!-- story -->
    {% endfor %}
