{% extends "layout/default/template.html" %}
{% load story_extras %}

{% block content %}
	<div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="stories-container">
                    <div class="stories">
                        <ol>
                        	{% include 'stories/stories.ajax.html' %}
                        </ol>
                    </div><!-- stories -->
                </div><!-- stories-container -->
            </div>
        </div>
    </div> <!-- container -->
{% endblock content %}

