{% extends "layout/default/template.html" %}

{% block content %}
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-10">
					<h2>About</h2>
					<p>Use Linkresting to share and discuss interesting links with your friends and colleagues. You can sign up by creating a new account with us or using one of your social accounts. </p>
					<br/>
					<h2>More to come</h2>
					<p>More awesome features are be launched shortly
						<ul>
							<li>Tags</li>
							<li>Voting</li>
							<li>Notification</li>
							<li>Mobile app</li>
							<li>Chrome extension</li>
							<li>Export to Evernote</li>
						</ul>
					</p>
					<br/>
					<h2>Contact</h2>
					<p>Send your queries and hatemail to <a href="mailto:linkresting@meexture.com">linkresting@meexture.com</a></p>

				</div>
			</div><!-- row -->
		</div><!-- container -->
{% endblock content %}