{% extends "layout/default/template.html" %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block content %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 ">
				<h2>Forgot password? </h2>
				<small>Enter your email to which the password reset instructions will be sent</small>
				<br/><br/><br/>
				<form method="post" class="form-vertical" action="">
					{% crispy form %}
				</form>			
			</div>
		</div><!-- row -->
	</div><!-- container -->

{% endblock content %}

