#bootstrap
Django==1.6.5
MySQL-python==1.2.5
#psycopg2==2.5.3
python-memcached==1.53
requests
django-crispy-forms
python-social-auth

#migration / database
South==0.8.4

#admin tools
django-admin-tools

# Debugging
django-debugtools >= 1.2

# release
django-waffle

#utils
django-model-utils==2.0.3
logutils==0.3.3

#shell
ipython
